<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Canary's Art Gallery</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class = "banner">
        <h1>Canary's Art Gallery</h1>
        <nav class = "navbar">
          <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('aboutus')}}">About Us</a></li>
            <li><a href="{{url_for('register')}}">Signup</a></li>
            <li><a href="{{url_for('login')}}">Log In</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
          </ul>
        </nav>
      </div>
    <div class="main-content">
        <div class="left-content">
            <p class="sentence">Canary's Art Gallery founded in 1890 after the death of Vincent Van Gogh. Canary's Art Gallery represents the best of the art that tells a story
                and requires thought in-order to understand the meaning of Art. Our Gallery features pieces that can be worth upto 23.7 million dollars. Canary's Art Gallery 
                proudly displays and helps find these paintings a better home. The paintings are kept in top original quality by our experts at Canary's Art Gallery.
            </p>
            <img src="{{ url_for('static', filename='img/aboutus.jpg') }}" alt="gallery" class="gallery-image">
        </div>
        <div class="exhibition">
            <p class="sentence2">Join us for our exhibition on April 19th at St Clair College for our in-person sale. You can also purchase online through our <a href="{{url_for('home')}}">product</a> portal. </p>
        </div>
    </div>
    <footer>
      <div class="container">
        <h3>Connect With Us</h3>
        <ul class="footer-links">
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.instagram.com/">Instagram</a></li>
          <li><a href="https://www.twitter.com/">Twitter</a></li>
        </ul>
      </div>
    </footer>
</body>
</html>