<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Basic Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div>
        <div class="banner">
        <h1>Canary's Art Gallery</h1>
        <nav class = "navbar">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('aboutus')}}">About Us</a></li>
                <li><a href="{{url_for('register')}}">Signup</a></li>
                <li><a href="{{url_for('login')}}">Log In</a></li>  
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
          </nav>
        </div>
        <form action="{{url_for('login')}}" method="post">
            <label>Email</label>
            <input type="text" name="Customer_Email" id="Customer_Email" required>
            <label>Password</label>
            <input type="password" name="password1" id="password1" required>
            <input type="submit" value="Login">
        </form><br>
    </div>
    <footer>
        <div class="container">
          <h3>Connect With Us</h3>
          <ul class="footer-links">
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.twitter.com/">Twitter</a></li>
          </ul>
        </div>
      </footer>
</body>
